<template :value="currentAuthor">
    <v-timeline-item fill-dot>
        <template v-slot:icon>
            <v-icon>mdi-android-messages</v-icon>
        </template>
        <v-form
                ref="form"
                v-model="valid"
                lazy-validation
                onSubmit="return false;"
        >
            <v-text-field
                    v-model="input"
                    hide-details
                    clearable
                    :disabled="!currentAuthor || !wsConnected"
                    :rules="messageRules"
                    background-color="grey"
                    label="Leave a comment..."
                    solo
                    @keydown.enter="send"
            >
                <template v-slot:append>
                    <v-scale-transition>
                        <v-btn
                                v-if="currentAuthor && wsConnected"
                                class="mx-0"
                                depressed
                                @click="send"
                        >
                            <v-icon small class="pr-2">mdi-send</v-icon>
                            send
                        </v-btn>
                    </v-scale-transition>
                </template>
            </v-text-field>
        </v-form>
    </v-timeline-item>
</template>

<script>
    export default {
        props: {
            currentAuthor: null,
            wsConnected: null
        },
        data() {
            return {
                input: '',
                valid: true,
                messageRules: [
                    v => !!v || 'Name is required',
                ],
                message: {
                    content: '',
                    author: '',
                }
            }
        },
        methods: {
            send() {
                if (this.$refs.form.validate()) {
                    this.message.content = this.input;
                    this.message.author = this.currentAuthor;
                    this.$emit('messageCreated', this.message);
                    this.$refs.form.reset();
                    this.valid = true;
                }
            },
        }
    }
</script>