<template>
    <div :value="messages">
        <v-slide-x-transition
                group
        >
            <v-timeline-item v-for="message in messages" :key="message.id">
                <template v-slot:icon v-if="message.author.id">
                    <v-avatar>
                        <v-img :src="'http://localhost:8081/authors/' + message.author.id + '/icon'"/>
                    </v-avatar>
                </template>
                <v-card class="elevation-4 mb-3" outlined>
                    <v-card-text class="mb-3">
                        {{message.content}}
                    </v-card-text>
                    <v-card-actions>
                        <v-chip outlined class="mr-2">
                            <v-icon small class="pr-2" color="blue">
                                mdi-account
                            </v-icon>
                            {{message.author.nickname}}
                        </v-chip>
                        <v-chip outlined class="mr-2">
                            <v-icon small class="pr-2" color="blue">
                                mdi-calendar-range
                            </v-icon>
                            {{message.createDate | moment("DD.MM.YY HH:mm")}}
                        </v-chip>
                        <div class="flex-grow-1"></div>
                        <v-tooltip top>
                            <template v-slot:activator="{ on }">
                                <v-btn text small rounded v-on="on">
                                    <v-icon small>mdi-format-quote-close</v-icon>
                                </v-btn>
                            </template>
                            <span>Quote message</span>
                        </v-tooltip>
                        <v-tooltip top>
                            <template v-slot:activator="{ on }">
                                <v-btn text small rounded v-on="on">
                                    <v-icon small>mdi-pencil</v-icon>
                                </v-btn>
                            </template>
                            <span>Edit message</span>
                        </v-tooltip>
                        <v-tooltip top>
                            <template v-slot:activator="{ on }">
                                <v-btn text small rounded v-on="on" @click="deleteMessage(message.id)">
                                    <v-icon small>mdi-close</v-icon>
                                </v-btn>
                            </template>
                            <span>Delete message</span>
                        </v-tooltip>
                    </v-card-actions>
                </v-card>
            </v-timeline-item>
        </v-slide-x-transition>
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        props: {
            messages: Array,
        },
        data() {
            return {}
        },
        methods: {
            deleteMessage(id) {
                axios
                    .delete("http://localhost:8081/messages/" + id)
                    .then(() => {
                        this.$emit('removedMessage', id);
                    })
            }
        }
    }
</script>