<template>
    <v-card :value="currentAuthor">
        <v-card-title class="blue-grey white--text">
            Chat
            <div class="flex-grow-1"></div>
            <v-btn
                    rounded
                    class="ml-2"
                    :disabled="connected"
                    @click="connect"
            >
                <v-icon>mdi-lan-connect</v-icon>
            </v-btn>
            <v-btn
                    rounded
                    class="ml-2"
                    :disabled="!connected"
                    @click="disconnect"
            >
                <v-icon>mdi-lan-disconnect</v-icon>
            </v-btn>
            <v-btn
                    rounded
                    class="ml-2"
                    :disabled="!connected"
                    @click="refresh"
            >
                <v-icon>mdi-refresh</v-icon>
            </v-btn>
            <v-btn
                    rounded
                    class="ml-2"
                    @click="removeMessages"
            >
                <v-icon>mdi-database-remove</v-icon>
            </v-btn>
        </v-card-title>
        <v-timeline
                dense
                clipped
                align-top
                class="mr-5"
        >
            <MessageForm
                    :currentAuthor="currentAuthor"
                    :wsConnected="connected"
                    @messageCreated="send"
            ></MessageForm>
            <v-responsive
                    class="overflow-y-auto"
            >
                <MessageItem :messages="messages" @removedMessage="removeMessage"></MessageItem>
            </v-responsive>
        </v-timeline>
    </v-card>
</template>

<script>
    import MessageForm from "@/components/MessageForm";
    import MessageItem from "@/components/MessageItem";
    import axios from "axios";

    import SockJS from "sockjs-client";
    import Stomp from "webstomp-client";

    export default {
        components: {
            MessageForm: MessageForm,
            MessageItem: MessageItem,
        },
        props: {
            currentAuthor: null
        },
        data() {
            return {
                messages: [],
                connected: false,
            }
        },
        methods: {
            refresh() {
                axios
                    .get("http://localhost:8081/messages")
                    .then(response => {
                        this.messages = response.data;
                    })
            },
            send(e) {
                if (this.stompClient && this.stompClient.connected) {
                    this.stompClient.send("/app/messages", JSON.stringify(e), {});
                }
            },
            connect() {
                this.socket = new SockJS("http://localhost:8081/ws");
                this.stompClient = Stomp.over(this.socket);
                this.stompClient.connect(
                    {},
                    frame => {
                        this.connected = true;
                        console.log(frame);
                        this.stompClient.subscribe("/chat/messages", tick => {
                            this.messages.splice(0, 0, JSON.parse(tick.body));
                        });
                    },
                    error => {
                        console.error(error);
                        this.connected = false;
                    }
                );
            },
            disconnect() {
                if (this.stompClient) {
                    this.stompClient.disconnect();
                }
                this.connected = false;
            },
            removeMessage(id) {
                let indexMessageById = this.messages.map(function (e) {
                    return e.id;
                }).indexOf(id);
                this.messages.splice(indexMessageById, 1);
            },
            removeMessages() {
                axios.delete("http://localhost:8081/messages");
                this.messages = [];
            }
        },
        mounted() {
            this.refresh();
            this.connect();
        }
    }
</script>