<template>
    <v-navigation-drawer
            app
            absolute
            permanent
            right
    >
        <v-skeleton-loader
                v-if="!currentAuthor"
                type="list-item-avatar-two-line"
        ></v-skeleton-loader>
        <template
                v-if="currentAuthor"
                v-slot:prepend
        >
            <v-list-item two-line>
                <v-list-item-avatar>
                    <img :src="'http://localhost:8081/authors/icon/' + currentAuthor.iconId"
                         :alt="currentAuthor.iconId"
                    >
                </v-list-item-avatar>
                <v-list-item-content>
                    <v-list-item-title>{{currentAuthor.nickname}}</v-list-item-title>
                    <v-list-item-subtitle>Logged In</v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>
        </template>
        <v-divider></v-divider>
        <v-subheader>Available authors</v-subheader>
        <v-list
                dense
                rounded
                nav
        >
            <v-slide-x-transition
                    group
            >
                <v-list-item
                        v-for="author in authors"
                        :key="author.id"
                        @click="logAuthor(author.id)"
                >
                    <v-list-item-avatar>
                        <v-badge
                                overlap
                                color="red"
                                bottom
                                right
                        >
                            <template v-slot:badge>{{author.iconId}}</template>
                            <v-avatar size="45px">
                                <v-img :src="'http://localhost:8081/authors/icon/' + author.iconId"></v-img>
                            </v-avatar>
                        </v-badge>
                    </v-list-item-avatar>
                    <v-list-item-content>
                        <v-list-item-title>{{author.nickname}}</v-list-item-title>
                    </v-list-item-content>
                    <v-list-item-action
                            v-if="currentAuthor && currentAuthor.id !== author.id"
                    >
                        <v-btn
                                icon
                                @click.stop="removeAuthor(author.id)"
                        >
                            <v-icon
                                    x-small
                            >
                                mdi-close
                            </v-icon>
                        </v-btn>
                    </v-list-item-action>
                </v-list-item>
            </v-slide-x-transition>
        </v-list>
        <v-divider></v-divider>
        <v-row class="my-auto">
            <v-col class="pa-6">
                <v-btn
                        rounded
                        block
                        color="green"
                        bottom
                        :loading="dialog"
                        @click.stop="openDialog()"
                >
                    <v-icon left>mdi-account-plus</v-icon>
                    New author
                </v-btn>
            </v-col>
        </v-row>
        <v-dialog
                persistent
                v-model="dialog"
                max-width="500"
        >
            <NewAuthorForm @dialogClose="checkDialogEvent"></NewAuthorForm>
        </v-dialog>
    </v-navigation-drawer>
</template>

<script>
    import axios from 'axios';
    import NewAuthorForm from "@/components/NewAuthorForm";

    export default {
        components: {
            NewAuthorForm,
        },
        data() {
            return {
                dialog: false,
                authors: [],
                currentAuthor: null,
            }
        },
        methods: {
            logAuthor(id) {
                axios
                    .get("http://localhost:8081/authors/" + id)
                    .then(response => {
                        this.currentAuthor = response.data;
                        this.$emit('authorLog', response.data)
                    });
            },
            removeAuthor(id) {
                let indexAuthorById = this.authors.map(function (e) {
                    return e.id;
                }).indexOf(id);
                axios
                    .delete("http://localhost:8081/authors/" + id)
                    .then(() => (
                        this.authors.splice(indexAuthorById, 1)
                    ))
            },
            checkDialogEvent(event) {
                this.dialog = event.dialogOpen;
                if (event.valid)
                    this.authors.push(event.author);
            },
            openDialog() {
                this.dialog = true;
            },
        },
        mounted() {
            axios
                .get("http://localhost:8081/authors")
                .then(response => (
                    this.authors = response.data
                ))
        }
    }
</script>