<template>
    <v-card>
        <v-form
                ref="form"
                v-model="valid"
                lazy-validation
        >
            <v-toolbar
                    color="primary"
                    dark
            >
                <v-avatar>
                    <img :src="'http://localhost:8081/authors/icon/' + author.iconId" :alt="author.iconId"/>
                </v-avatar>
                <v-toolbar-title class="pa-3">{{author.nickname}}</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
                <v-text-field
                        class="pt-5 pb-4"
                        label="Nickname"
                        counter="15"
                        clearable
                        outlined
                        rounded
                        dense
                        v-model="author.nickname"
                        :rules="nicknameRules"
                        required
                >
                </v-text-field>
                <v-slider class="pt-12 pr-6"
                          min="11"
                          max="19"
                          thumb-label="always"
                          thumb-size="56"
                          label="Icon"
                          v-model="author.iconId"
                          ticks="always"
                          tick-size="4"
                >
                    <template v-slot:thumb-label="props">
                        <v-avatar dark>
                            <img :src="'http://localhost:8081/authors/icon/' + props.value" :alt="props.value"/>
                        </v-avatar>
                    </template>
                </v-slider>

            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-btn
                        color="red"
                        text
                        @click="cancel"
                >
                    Cancel
                </v-btn>
                <v-btn
                        color="blue"
                        text
                        @click="clear"
                >
                    Reset
                </v-btn>
                <div class="flex-grow-1"></div>
                <v-btn
                        text
                        color="success"
                        @click="submit"
                >
                    Add
                </v-btn>
            </v-card-actions>
        </v-form>
    </v-card>
</template>

<script>
    import axios from "axios";

    export default {
        data() {
            return {
                dialogOpen: false,
                valid: true,
                author: {
                    id: '',
                    nickname: '',
                    iconId: '',
                },
                nicknameRules: [
                    v => !!v || 'Name is required',
                    v => (v && v.length <= 15) || 'Name must be less than 10 characters',
                ],
            }
        },
        methods: {
            submit() {
                if (this.$refs.form.validate()) {
                    axios
                        .post("http://localhost:8081/authors", this.author)
                        .then((response) => {
                            this.author.id = response.data;
                            this.$emit('dialogClose', this)
                        });
                }
            },
            cancel() {
                this.valid = false;
                this.$emit('dialogClose', this)
            },
            clear() {
                this.$refs.form.reset();
            },
        },
    }
</script>