<template>
    <v-app>
        <Navigation @authorLog="logAuthor"></Navigation>
        <v-content>
            <v-container>
                <Message :currentAuthor="currentAuthor"></Message>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import Navigation from "@/components/Navigation";
    import Message from "@/components/Message";

    export default {
        components: {
            Navigation,
            Message,
        },
        props: {
            currentAuthor: null,
        },
        methods: {
            logAuthor(author) {
                this.currentAuthor = author;
            },
        },
    };
</script>
